# input design files
# *.blif
*.cnf
*.v

# output files
*.o
*.out
*.ps
*.dot
*.aig

#dependency
*.mak

abc.history
/bin/approximate

/engine/abc
/engine/KCBox
/testcases

/include
/build
/lib
/testcases

.vscode